.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1120px;
}
.moviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0;
  padding: 0;
  max-width: 1120px;
}